body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

header {
  background-color: rgba(37, 37, 208, 0.1);
  color: black;
  padding: 20px;
  text-align: center;
}

main {
  width: 400px;
  margin: 10px auto;
}

form {
  border: 1px solid #ccc;
  padding: 20px;
}

input {
  width: calc(100% - 20px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 2px; /*para el espacio entre inputs*/
}

input[type="password"] {
  width: calc(100% - 20px);
  height: 50px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 2px;   
}

input[type="submit"] {
  background-color: #000;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  width:100%;
  border:2px solid black;
  margin-top: 10px; /*para el pequeño espacio con el bloque de inputs*/
}

.placeholder{
  /*PROBAR A SUBIR EL TEXTO DEL PLACEHOLDER AL MEDIO DE LA CASILLA*/
  padding-top: 5px;
}